.otherDetail {
  margin-left: 250px;
  width: 350px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.items {
  width: 100%;
  .percentage {
    margin-left: 60px;
    top: -20px;
    @media screen and (max-width: 768px) {
      margin-left: 30px;
    }
  }
}
.sun {
  margin-top: 30px;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
  .time {
    font-size: 30px;
    line-height: 25px;
    @media screen and (max-width: 768px) {
      font-size: 13px;
      line-height: normal;
    }
  }
  .name {
    font-size: 14px;
  }
}
