.otherDetail {
  margin-left: 250px;
  width: 350px;
}
.items {
  .percentage {
    margin-left: 60px;
    top: -20px;
  }
}
.sun {
  margin-top: 30px;
  .time {
    font-size: 30px;
    line-height: 25px;
  }
  .name {
    font-size: 14px;
  }
}
